.filter-box{
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e5e5e5;
}

.table-box{
    border: 1px solid #e5e5e5;
    margin-top: 10px;
}

.pag-box{
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin-top: 10px;
    text-align: right
}