.pag-box{
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin-top: 10px;
    text-align: right
}
.content-box{
    background-color: #ffffff;
}
.btn-line{
    padding: 10px;
}

.row-img{
    width: 60px;
    height: 60px;
    border-radius: 4px;
}